.commentary {
  margin-top: 44px;
  padding: 45px 20px 0 20px;
  position: relative;

  border: 2px solid #68b738;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.commentary__title {
  margin: 0;
  padding: 20px;
  width: 121px;
  background-color: white;
  position: absolute;
  top: -38px;
  left: 0;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.commentary__item {
  width: 100%;
  padding: 13px 12px 13px 15px;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  border: 1px solid #e7e7e7;

  resize: none;
}
