@import "./fonts.less";
@import "./visually-hidden.less";
@import "./button.less";
@import "./page.less";
@import "./header.less";
@import "./main-nav.less";
@import "./picture-blog.less";
@import "./servises.less";
@import "./info-on-the-work.less";
@import "./example.less";
@import "./contacts.less";
@import "./social-network.less";
@import "./logo.less";
@import "./powered-by.less";
@import "./page-title.less";
@import "./program-selection.less";
@import "./input.less";
@import "./goal.less";
@import "./radio.less";
@import "./information.less";
@import "./commentary.less";
@import "./additional-information.less";
@import "./checkbox.less";
@import "./text-information.less";
@import "./submit-application.less";
@import "./title-block.less";
@import "./catalog.less";
@import "./product.less";
@import "./show-more.less";
@import "./additional-goods.less";

fieldset {
  padding: 0;
  margin: 0;
}

textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
